.container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}  

.cont{
    padding: 50px 50px 10px 50px;
    width: 500px;
    height: 500px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 70px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 18px rgb(101, 77, 121);

}

h1{
    color: rgba(0, 0, 0, 0.753);
    padding-top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black
}

input{
    width: 200px;
    padding:10px;
    border-radius: 5px;
    outline:none;
    border: none;
    font-size: 20px;
    background-color:  rgba(206, 194, 201, 0.692);
    color: black;
}

.input{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

button{
    padding: 10px;
    outline: none;
    border-radius:5px;
    color:  black;
    background-color:  rgba(241, 241, 241, 0.336);
    font-size: 18px;

}
button:hover{
    cursor: pointer;
    background-color:  rgba(196, 194, 194, 0.336);
    

}



.warning{
    color:red;
}